<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../CSS/dashboard.css" rel="stylesheet">
    <script src="../JS/dashboard.js"> </script>
</head>
<body onload="fun()">
<h1>
    Fill details
</h1>
<div>
    <form action="#" onsubmit="adddetail()">
        Name
        <input type="text" id="name">
        Email
        <input type="email" id="email">
        Phone Number
        <input type="number" id="ph_no">

        <input type="submit" placeholder="submit">

    </form>
</div>
<h1 id="try">
</h1>

</body>
</html>