<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../Css/login.css" rel="stylesheet">
    <script src="../JS/login.js"> </script>
</head>
<body>
<div id="loging">
    <form action="/dashboard" id="my_form">
        <input type="text" id="uname" placeholder="enter your Username">
        <input type="password" id="pass" placeholder="enter your password">
        <button onclick="login()">Submit</button>
    </form>
    </div>
</body>
</html>